# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Dataset
data/ESC-50/
data/audio/
*.wav
*.WAV

# Trained models
models/*.pth
models/*.pt
models/*.ckpt

# Python tooling
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/